# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
pgdata/

requirements.txt

create_tables.py

alembic.ini

package.json

package-lock.json

node_modules/ 

.next/

next-env.d.ts

tsconfig.json

